
body{
  background-image:linear-gradient( rgb(191, 245, 245),rgb(238, 170, 170),rgb(184, 238, 238));
  background-attachment: fixed;
 }

 table{
  width: 900px;
  background-color: white;
  border: 1px solid black;
 }
